.balance {
    display: unset;
}

.balanceDiv {
    text-align: right !important;
    padding: 10px 50px 10px 0 !important;
}

.balanceC {
    padding-top: 30px;
    display: inline-block !important;
}

.UserStore {
    display: flex;
}

.form-check-label {
    padding: 10px 30px 0px 30px;
}

.categories {
    text-align: center;
}

.agaBak {
    position: absolute;
    z-index: 2;
    width: 100%;
    padding-right: 2vw;
}